/* .homePage {
  display: none;
}  */
.htmlCategory {
  display: none;
}
.cssCategory {
  display: none;
}

.jsCategory {
  display: none;
}
.endPage {
  display: none;
}
.endPageFinal {
  display: none;
}
.htmlCategoryLevel2 {
  display: none;
}
.cssCategoryLevel2 {
  display: none;
}
.jsCategoryLevel2 {
  display: none;
}
/* Diseño todas las páginas */
* {
  margin: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
body {
  background-image: url(img/fondo.png); /* Ubicación de la imagen */
  background-repeat: no-repeat;
  background-position: center center; /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
  background-attachment: fixed; /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-size: cover; /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  background-color: purple; /* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
}

header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

/* Página de inicio */

.robot {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-self: center;
}
.imgLogo {
  width: 100%;
  max-width: 130px;
  height: 130px;
  background-size: cover;
}
.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}
.titleHomePage {
  display: flex;
  width: 100%;
  max-width: 300px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  justify-content: center;
  align-self: center;
}
.subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}
.subtitleHomePage {
  display: flex;
  width: 100%;
  max-width: 856px;
  height: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.rootbuttons {
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  width: auto;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.HTML,
.JS {
  align-self: flex-end;
}
.buttonHTML,
.buttonJS,
.buttonCSS {
  width: 180px;
}

/* Página categorias */

.halfRobot {
  width: 100%;
  max-width: 100px;
  min-width: 20px;
  height: 100px;
  background-size: cover;
}

.gameTable {
  /* width: 100%; */
  max-width: 1400px;
  height: auto;
  background: rgba(19, 114, 167, 0.4);
  border-radius: 100px;
}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: #0689ff;
  text-align: justify; /* responsive*/
}

.topRoot {
  flex-wrap: wrap;
  color: #ffffff;
  display: flex;
}

.timeContainer {
  float: left; /* uno al lado del otro*/
  text-align: right;
  width: 50%;
  height: 59px;
  font-size: 50px;
  line-height: 59px;
  text-align: center;
  color: #ffffff;
}

.startButton {
  width: 11%;
  height: 50px;
  display: flex;
  box-sizing: border-box;
  justify-self: flex-end;
}

/* Página final */

.blockWin {
  width: 90%;
  margin: auto;
  height: 450px;
  flex-direction: column;
  background: url(img/fondoGanador.png);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
}

.titlesEndPage {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.subtitleEndPage {
  width: 100%;
  max-width: 1000px;
  height: 42px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.newLevel {
  display: flex;
  justify-content: center;
}

.buttonNewLevel {
  width: 200px;
  height: 80px;
}

.returnButtonEnd {
  display: flex;
  justify-content: center;
}
.startButtonEnd {
  width: 17%;
  height: 60px;
  margin: 20px;
}

/* Cartas de la base de datos */

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  height: auto;
  background-size: cover;
  justify-content: space-around;
  align-content: center;
}

img.back {
  content: url("img/HTML.png");
}
img.back1 {
  content: url("img/CSS.png");
}
img.back2 {
  content: url("img/JS.png");
}

.back,
.back1,
.back2,
.front {
  max-width: 150px;
  min-width: 40px;
  margin: 24px 20px;
}

/* para dar zoom a las cartas al darle un click */
.front {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
.returnButton {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 480px) {
  * {
    margin: 2px;
    padding-left: 1px;
    padding-right: 1px;
  }
  body {
    width: 100%;
    height: 568px;
  }

  /* pagina inicio */

  .imgLogo {
    margin-top: 20px;
    width: 60px;
    height: 90px;
  }
  .subtitleHomePage {
    font-family: Roboto;
    font-size: 22px;
    line-height: 42px;
    color: #ffffff;
  }
  .rootbuttons {
    margin-top: 50px;
    height: 250px;
  }

  .buttonHTML,
  .buttonJS,
  .buttonCSS {
    width: 100px;
    height: 100px;
    display: block;
  }

  /* paginas de cartas */

  .halfRobot {
    width: 50px;
    height: 50px;
  }
  .title {
    font-size: 10px;
  }
  p {
    font-family: Roboto;
    font-size: 20px;
    color: #0689ff;
    text-align: justify; /* responsive*/
  }
  h4 {
    font-size: 15px;
  }
  .gameTable {
    margin-top: 10px;
    width: 100%;
    height: 350px;
    background: rgba(19, 114, 167, 0.4);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-size: cover;
  }
  .App {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-size: cover;
    justify-content: space-around;
    align-content: center;
  }
  .back,
  .back1,
  .back2,
  .front {
    width: 65px;
    margin: 15px 10px;
  }
  .startButton {
    width: 14%;
    height: 40px;
  }
  .subtitleEndPage {
    margin-top: 10%;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
  .buttonNewLevel {
    width: 120px;
    height: 50px;
  }

  .startButtonEnd {
    width: 35%;
    height: 40px;
    margin: 20px;
  }
}
